*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background: url(2.jpg);
	background-size: 1700px;
}
div.konten{
	background: rgba(0,0,0,.5);
	width: 350px;
	margin: 222px auto;
	border-radius: 16px;
	min-height: 256px;
	overflow: hidden;
}
div.kepala{
	background: #F95354;
	padding: 10px 22px;
	height: 60px;
	color: #fff;
}
div.kepala h2.judul{
	padding: 10px 22px;
	font-weight: normal;
	line-height: 40px;
}
div.kepala h2.judul:before{
	background-image: url('download.png');
}
div.artikel{
	padding: 10px 22px 0;
	color: #808080;
}
div.artikel div.group{
	margin: 16px 0;
}

div.artikel div.group label,
div.artikel div.group input{
	display: block;
}
div.artikel div.group label{
	font-size: 13px;
	margin-bottom: 10px;
}
div.artikel div.group input[type="text"],
div.artikel div.group input[type="password"]
{
	width: 100%;
	height: 30px;
	padding: 0 5px;
	background: #eee;
	border:none;
	color: #808080;
}
div.artikel div.group input[type="submit"]{
	background: #62AC9F; 
	padding: 4px 16px;
	margin: 0 auto;
	border: 1px solid #62AC9F;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
}
div.artikel div.group input[type="submit"]:hover{
	background: #4f9689; 
	

}